@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome to Contoso University</h1>
    <p class="lead">
        You will be able to see a list of courses, departments and teachers in this academic unit. You can also sign up for the courses you need!
    </p>
    
</div>
