@model List<WebApp.Models.Student>
@{
    ViewBag.Title = "DeleteError";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>DeleteError</h2>

<h3>
    You can't delete @ViewBag.Course.Title because there are students enrolled:
</h3>
<table class="table">
    <tr>
        <th>
            Student's Full Name
        </th>
        <th>
            Email
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
        </tr>
    }

</table>
<p>
    @Html.ActionLink("Back to List", "Index", null, new { @class = "btn-sm btn-danger" })
</p>
